@use '../../styles/mixins/flexbox';
@use '../../styles/constants/colors';

.cardWrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, 20rem);
  grid-column-gap: 1rem;
  justify-content: center;
  width: 80%;
  max-width: 1080px;
  height: 70%;
  padding: 5% 0;
  overflow-y: scroll;

  .movieCard {
    @include flexbox.flexbox(center, center);
    height: 15rem;
    padding: 2%;
    margin: 5% 0;
    background-color: #2b2b38;
    border-radius: 10px;

    .posterWrapper {
      flex: 2.5;
    }

    .textWrapper {
      flex: 1.5;
    }
  }
}

@media (max-width: 480px) {
  .cardWrapper {
    grid-template-columns: 1fr;

    .movieCard {
      height: 12rem;
    }
  }
}
