@use "/src/styles/constants/colors";

.layoutWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;

  header {
    position: fixed;
    top: 0;
    z-index: 9;
    width: 100%;
    padding: 2rem 0;
    font-size: 2rem;
    font-weight: bold;
    color: colors.$ACTIVE_TEXT;
    text-align: center;
    letter-spacing: 0.5px;
    background-color: colors.$BG;
  }
}
