@use "../../styles/constants/colors";

.backGround {
  position: fixed;
  top: 0;
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(128, 128, 128, 10%);

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
    padding: 2%;
    color: colors.$ACTIVE_TEXT;
    background: colors.$INACTIVE_TEXT;
    border-radius: 1rem;

    > div {
      .noImageWrapper {
        width: 100%;
        height: 100%;

        svg {
          width: inherit;
          height: inherit;
          color: rgba(43, 43, 56);
        }
      }

      img {
        display: flex;
        width: 60%;
        height: 60%;
        margin: 1rem auto;
        object-fit: contain;
      }

      .titleYear {
        line-height: 2;
      }

      span {
        display: block;
        padding: 2% 0;
        font-size: 1.2rem;
        text-align: center;
        letter-spacing: 0.5px;
      }
    }

    ul > li {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1rem 0;
      font-size: 2rem;

      > button {
        padding: 0.6rem 1.5rem;
        margin: 0 1em;
        font-size: 1.2rem;
        color: colors.$ACTIVE_TEXT;
        border: 2px solid white;
        border-radius: 2rem;

        &:hover {
          color: colors.$INACTIVE_TEXT;
          background-color: colors.$ACTIVE_TEXT;
        }
      }
    }
  }
}
