@use "../../styles/mixins/flexbox";
@use "../../styles/constants/colors";

.tabWrapper {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 3vh 0;
  background-color: colors.$BG;
  @include flexbox.flexbox(center, center);

  button {
    flex: 1;

    > a > div {
      @include flexbox.flexbox(center, center);
      flex-direction: column;
      font-size: 1rem;

      span {
        display: block;
        padding: 4% 0;
        margin: 0 auto;
      }

      svg {
        display: block;
        width: fit-content;
        height: 1.5rem;
      }
    }

    .active {
      color: colors.$ACTIVE_TEXT;
    }

    .inActive {
      color: colors.$INACTIVE_TEXT;
    }
  }
}
